@model C_Geoproffs.Models.Aanvraag

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Aanvraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verdeling" class="control-label"></label>
                <input asp-for="Verdeling" class="form-control" />
                <span asp-validation-for="Verdeling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDatum" class="control-label"></label>
                <input asp-for="BeginDatum" class="form-control" />
                <span asp-validation-for="BeginDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EindDatum" class="control-label"></label>
                <input asp-for="EindDatum" class="form-control" />
                <span asp-validation-for="EindDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reden" class="control-label"></label>
                <input asp-for="Reden" class="form-control" />
                <span asp-validation-for="Reden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
